[submodule "Simple-Sequence-Prediction-Using-Long-Short-Term-Memory-LSTM-"]
	path = Simple-Sequence-Prediction-Using-Long-Short-Term-Memory-LSTM-
	url = https://github.com/SringayKeno/Simple-Sequence-Prediction-Using-Long-Short-Term-Memory-LSTM-
